<%- include("FM-0-TituloPrincipal") %>
<section id="tabla">
	<table>
		<thead>
			<tr>
				<th class="cliente">Visitas</th>
				<th class="fecha">Hora</th>
				<th class="ruta">Ruta</th>
			</tr>
		</thead>
		<tbody>
			<% for (let navegDia of navegsDia) { %>
			<tr <% if (!navegDia.cantPorPers) { %>class="ocultar"<% } %>>
				<!-- Persona -->
				<td class="cliente <%= navegDia.esUser ? 'esU' : 'esV' %>">
					<!-- Ícono ver / ocultar -->
					<span <% if (!navegDia.cantPorPers) { %>class="invisible"<% } %>><i class="fa-solid fa-circle-plus"></i></span>

					<!-- Código de cliente -->
					<span class="codigo"><% if (!navegDia.cantPorPers) { %><%= navegDia.persona %><% } %></span>

					<!-- Cantidad de navegaciones -->
					<span class="cantNavegs"><% if (navegDia.cantPorPers) { %><%= navegDia.cantPorPers %><% } %></span>
				</td>

				<!-- Fecha -->
				<td class="fecha"><%= navegDia.hora %></td>

				<!-- Ruta -->
				<td class="ruta"><%- navegDia.ruta %></td>
			</tr>
			<% } %>
		</tbody>
	</table>
</section>
