<%- include("FM-0-TituloPrincipal") %>
<section id="tabla">
	<table>
		<thead>
			<tr>
				<th class="cliente">Visitas</th>
				<th class="fecha">Hora</th>
				<th class="ruta">Ruta</th>
			</tr>
		</thead>
		<tbody>
			<% for (let navegDia of navegsDia) { %>
			<tr id="<%= navegDia.cliente_id %>" class="<%- navegDia.cantPers ? 'resumen' : 'ocultar' %>">
				<!-- Persona -->
				<td class="cliente <%= navegDia.esUser ? 'esU' : 'esV' %>">
					<!-- Ícono ver / ocultar -->
					<span class="mostrar<% if (!navegDia.cantPers) { %> ocultar<% } %>"><i class="fa-solid fa-circle-plus"></i></span>

					<!-- Código de cliente -->
					<span class="codigo"><% if (!navegDia.cantPers) { %><%= navegDia.persona %><% } %></span>

					<!-- Cantidad de navegaciones -->
					<span class="cantNavegs"><% if (navegDia.cantPers) { %><%= navegDia.cantPers %><% } %></span>
				</td>

				<!-- Fecha -->
				<td class="fecha"><%= navegDia.hora %></td>

				<!-- Íconos de la ruta -->
				<td class="ruta">
					<% if (navegDia.prodRclv) { %><a href="<%= navegDia.ruta %>"><% } %>
						<%- navegDia.iconosHTML || navegsDia.distintivo %><%- navegDia.nombre %>
						<%= navegDia.prodRclv && navegDia.prodRclv.id %>
					<% if (navegDia.prodRclv) { %></a><% } %>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</section>
