<!-- Muestra la Imagen -->
<% let ruta, titulo, destino, hoyLocal, entRclv %>
<div id="imgDerecha">
	<% if (locals.tema == "institucional") { %>
		<!-- Imagen Institucional -->
		<% ruta = imgInstitucional %>
		<% titulo = "ELC-Películas" %>
	<% } %>
	<% if (!ruta && locals.imgDerPers) { %>
		<!-- Imagen personalizada -->
		<% ruta = imgDerPers %>
	<% } %>
	<% if (!ruta) { %>
		<!-- Imagen Diaria -->
		<% const ahora = new Date() %>
		<% const diaLocal = ("0" + ahora.getDate()).slice(-2) %>
		<% const mesLocal = mesesAbrev[ahora.getMonth()] %>
		<% const anoLocal = ahora.getFullYear().toString().slice(-2) %>
		<% hoyLocal = diaLocal + "-" + mesLocal + "-" + anoLocal %>
		<% const rclv_id = ImagenesDerecha[hoyLocal] && ImagenesDerecha[hoyLocal].id %>
		<% entRclv = ImagenesDerecha[hoyLocal] && ImagenesDerecha[hoyLocal].entidad %>
		<% destino = entRclv && rclv_id ? ("/"+ entRclv + "/detalle/r/?id=" + rclv_id) : null %>
		<% ruta = "/publico/imagenes/ImagenDerecha/" + hoyLocal + ".jpg" %>
		<% titulo = ImagenesDerecha[hoyLocal].leyenda %>
	<% } %>

	<!-- Publica la imagen -->
	<img src="<%= ruta %>" title="<%= titulo %>">

	<!-- Accesorios -->
	<% if (locals.tema == "prodRud" && codigo == "detalle" && registro.statusRegistro_id != inactivo_id) { %>
		<%- include('PR1-Detalle-2Links') %>
	<% } %>
	<% if (locals.tema == "consultas") { %>
		<%- include("CN-CartelRclv", {hoyLocal, destino, entRclv}) %>
	<% } %>
	<% if (locals.iconosMobile) { %>
		<div id="sectorIconos">
			<%- include("Iconos-5Mobile") %>
		</div>
	<% } %>
</div>
